# Telegram Bot
BOT_TOKEN=8598180577:AAH46KUy4Ilj5SOuiY8WsgfodNaWpufvNxU
ADMIN_CHAT_ID=2075302695

# Настройки модерации
TOXICITY_THRESHOLD=0.7      # выше = удалять
WARNING_THRESHOLD=0.4        # выше = предупреждать

# База данных
DATABASE_URL=sqlite+aiosqlite:///./toxguard.db

# API
API_HOST=0.0.0.0
API_PORT=8000
