# FastAPI
fastapi==0.111.0
uvicorn[standard]==0.29.0
python-multipart==0.0.9

# Database
sqlalchemy==2.0.30
aiosqlite==0.20.0

# Telegram Bot
aiogram==3.6.0

# AI - Detoxify
detoxify==0.5.2
torch==2.2.2
transformers==4.40.0

# Utils
pydantic==2.7.1
pydantic-settings==2.2.1
python-dotenv==1.0.1

# CORS / HTTP
httpx==0.27.0


numpy==1.26.4